
    #third{
      margin-top: 10px;
      position: relative;
      top: -170px;
      left: 180px;
    }
    #third>.a{
      width:60px;
      height:70px;
      background-color: black;
    }
    #third>.a .a{
      position: relative;
      left: 10px;
      width: 40px;
      height: 70px;
      background-color: white;
    }
    #third>.b{
      position: relative;
      left: 50px;
      width:10px;
      height:10px;
      background-color: black;
    }
    #third>.c{
      position: relative;
      left: 0px;
      /*top: 270px;*/
      top: -25px;
      width:70px;
      height:10px;
      background-color: black;
    }
