@charset "utf-8";

// Define defaults for each variable.
$namespace: ".page-content";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
//$base-font-family: "Crimson Text", serif, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// idea: https://codepen.io/P1N2O/pen/pyBNzX
@mixin backgroud-gradient($background) {
  background: $background;
  background-size: 400% 400%;
  animation: Gradient 35s ease infinite;
  // background animation
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

// https://codepen.io/abdelrhmansaid/pen/OJRNOpQ
// https://codepen.io/team/jotform/pen/XWmqoMp
// https://codepen.io/ste-vg/pen/GqaZbo

@mixin background0 {
  @include backgroud-gradient(
    linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
  );
}
@mixin background1 {
  @include backgroud-gradient(
    linear-gradient(
      127deg,
      rgb(87, 44, 31),
      rgb(11, 75, 99),
      rgba(17, 100, 81, 0.534)
    )
  );
}
@mixin background2 {
  @include backgroud-gradient(
    linear-gradient(
      -45deg,
      rgb(179, 108, 87),
      rgba(155, 44, 44, 0.637),
      rgb(19, 90, 116),
      rgba(29, 104, 86, 0.534)
    )
  );
}
@mixin background3 {
  // @include backgroud-gradient(linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab));
  // https://unsplash.com/photos/3k1IyUrqRk4
  // background-image: url(https://images.unsplash.com/p?hoto-1654869919548-72a005cb4074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-image: url(https://imgs.candywaters.com/bak3_Voicu_Apostol.jpg);
  background-size: contain;
}
@mixin background4 {
  // https://unsplash.com/es/fotos/twukN12EN7c
  // background-image: url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&dl=simon-berger-twukN12EN7c-unsplash.jpg&w=1920&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
  background-image: url(https://imgs.candywaters.com/bak4_simon_berger.jpg);
  background-size: cover;
}
// green
@mixin background5 {
  //https://unsplash.com/photos/SahRqFHiWOM
  // background-image: url(https://images.unsplash.com/photo-1654876374194-99e8967bc618?ixlib=rb-1.2.1&dl=jonny-gios-SahRqFHiWOM-unsplash.jpg&w=640&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
  background-image: url(https://imgs.candywaters.com/bak5_jonny_gios.jpg);
  background-size: cover;
}
// image
@mixin background6 {
  //https://unsplash.com/photos/U8i2h95G_-Q
  // background-image: url(https://images.unsplash.com/photo-1566738780863-f9608f88f3a9?ixlib=rb-1.2.1&dl=bit-cloud-U8i2h95G_-Q-unsplash.jpg&w=1920&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
  background-image: url(https://imgs.candywaters.com/bak6_bit_cloud.jpg);
  background-size: cover;
}
// image
@mixin background7 {
  // https://unsplash.com/photos/410xCX9-yoM
  // background-image: url(https://images.unsplash.com/photo-1654960684701-198bf60d57ef?ixlib=rb-1.2.1&dl=lukasz-rawa-410xCX9-yoM-unsplash.jpg&w=1920&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
  background-image: url(https://imgs.candywaters.com/bak7_lukasz_rawa.jpg);
  background-size: cover;
}
/*
https://unsplash.com/photos/DhcJG8UA3tw
https://unsplash.com/es/fotos/UfAqCF6szFU
https://unsplash.com/es/fotos/6FFFuL87z6g
https://unsplash.com/photos/rrk4WRjBwYw
https://unsplash.com/photos/PLU0w76a9Ac
https://unsplash.com/photos/XAH8yCqNGbQ
https://unsplash.com/photos/pJN8A5J3HM0
https://unsplash.com/photos/A9PpqJWbftM
https://unsplash.com/photos/5y_i4P17zNk

*/

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: calc($spacing-unit / 2);
//     padding-left: calc($spacing-unit / 2);
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-query-min($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "_minima/base";
@import "_minima/layout";
@import "_minima/syntax-highlighting";
@import "_post/post";
@import "_component/comment";
@import "_component/icons";
@import "_component/postnav";
@import "_component/spinner/lds-circle";
@import "_component/spinner/lds-facebook";
@import "_component/spinner/lds-roller";
