<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/plain" />
        </staticContent>
        <caching enabled="false" enableKernelCache="false">
            <profiles>
            </profiles>
        </caching>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
</configuration>
