//replace user agent stylesheet
body {
  // font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
}

//replace user agent stylesheet
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

//replace user agent stylesheet
h3 {
  display: block;
  // font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  // font-weight: bold;
}
h4 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 1.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  // font-weight: bold;
}
