---
layout: default
---



<div class="home">

  <div class="row" style="position: relative;">
      <h1 class="page-heading" style="">Article List</h1>
      <!--button type="button" class="btn-secondary btn" style="position:absolute; right:0; top:0;"
      name="button" onclick="window.location.href='/'">返回主页</button-->
  </div>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
