#{$namespace} {
  #comment_hr {
    border: 0.25em solid #85929e;
    margin-bottom: 0.25em;
  }

  pre {
    display: block;
    margin-top: 0;
    // margin-bottom: 1rem;
    font-size: 90%;
    color: #292b2c;
  }

  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    /*background-color: transparent;*/
    /*---->*/
    display: block;
    padding: 1rem;
    /*<----*/

    border-radius: 0;
  }

  table:not(.rouge-table) {
    margin-bottom: 1rem;
  }

  // to avoid cannot load youtube video
  iframe {
    border: solid;
    background: linear-gradient(
        -45deg,
        #b36c57,
        rgba(155, 44, 44, 0.637),
        #135a74,
        rgba(29, 104, 86, 0.534)
      ),
      linear-gradient(127deg, #572c1f, #0b4b63, rgba(17, 100, 81, 0.534));
  }

  // iframe::after {
  //   content: "♥ Loading Contents... ♥";
  // }
}
