/*
  idea: https://codepen.io/P1N2O/pen/pyBNzX

  images
    https://unsplash.com/photos/DhcJG8UA3tw
    https://unsplash.com/es/fotos/UfAqCF6szFU
    https://unsplash.com/es/fotos/6FFFuL87z6g
    https://unsplash.com/photos/rrk4WRjBwYw
    https://unsplash.com/photos/PLU0w76a9Ac
    https://unsplash.com/photos/XAH8yCqNGbQ
    https://unsplash.com/photos/pJN8A5J3HM0
    https://unsplash.com/photos/A9PpqJWbftM
    https://unsplash.com/photos/5y_i4P17zNk
*/

// animation
@mixin backgroud-gradient($background) {
  background: $background;
  background-size: 400% 400%;
  animation: Gradient 35s ease infinite;
  // background animation
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

// animation
@mixin backgroud-gradient-quick($background) {
  background: $background;
  background-size: 400% 400%;
  animation: Gradient 3s ease infinite;
  // background animation
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

// https://codepen.io/abdelrhmansaid/pen/OJRNOpQ
// https://codepen.io/team/jotform/pen/XWmqoMp
// https://codepen.io/ste-vg/pen/GqaZbo

//with animation
@mixin background0 {
  // @include backgroud-gradient(linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab));
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
//no animation
@mixin background1 {
  background: linear-gradient(-45deg, #ab4728, #de5288, #23a6d5, #23d5ab);
}
//with animation
@mixin background2 {
  background :(linear-gradient(-45deg, #ee6a42, #d04f4fa2, #3788a5, #37ad9188));
}
// image
@mixin background3 {
  background-image: url(https://candy-img.s3.ap-northeast-1.amazonaws.com/bak3_Voicu_Apostol.jpg);
  background-size: contain;
}
// image
@mixin background4 {
  background-image: url(https://candy-img.s3.ap-northeast-1.amazonaws.com/bak4_simon_berger.jpg);
  background-size: cover;
}
// image
@mixin background5 {
  background-image: url(https://candy-img.s3.ap-northeast-1.amazonaws.com/bak5_jonny_gios.jpg);
  background-size: cover;
}
// image
@mixin background6 {
  background-image: url(https://candy-img.s3.ap-northeast-1.amazonaws.com/bak6_bit_cloud.jpg);
  background-size: cover;
}
// image
@mixin background7 {
  background-image: url(https://candy-img.s3.ap-northeast-1.amazonaws.com/bak7_lukasz_rawa.jpg);
  background-size: cover;
}
